@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/*---Small device---*/
@media (max-width: 767px) {
    .col-sm-12{
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }
}

/*---Medium device---*/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12{
        float: left;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/*---Large device---*/
@media (min-width: 992px) {
    .col-lg-4{
        float: left;
    }

    .col-lg-4 {
        width: 33%;
    }
}

.our-menu {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

.inside-block {
    margin: 10px;
    border: 1px solid black;
    background-color: rgb(167, 167, 167);
}

.section-title {
    float: right;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 1.2em;
    padding: 0 30px;
    font-weight: bold;
}

.section-text {
    margin-top: 40px;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}

#chicken-title {
    background-color: rgb(242, 156, 156);
}

#beef-title {
    background-color: rgb(166, 55, 55);
    color: white;
}

#sushi-title {
    background-color: rgb(233, 233, 140);
}